:root {
  --text: #2a2a2a;
  --bg1: #d9d9d9;
  --bg2: #e6e6e6;
  --h1-bg: #d2d2d2;
  --h1-text: #2a2a2a;
  --border: #2a2a2a;
  --link: #2a2a2a;
  --underline: #555;

  --border-style: 1px solid var(--border);
  --drop-shadow-style: drop-shadow(.3rem .3rem 0 var(--border));
  --h1-letter-spacing: .5px;
}

:root[data-theme="dark"] {
  --text: #DADADB;
  --bg1: #444;
  --bg2: #333;
  --h1-bg: #272727;
  --h1-text: #DADADB;
  --border: #000;
  --link: #DADADB;
  --underline: #b0b0b0;
}
