:root {
  --text: #333;
  --bg1: #f5f5f5;
  --bg2: #f5f5f5;
  --h1-bg: #f5f5f5;
  --h1-text: #333;
  --border: #333;
  --link: #333;
  --underline: #666;

  --border-style: 1px solid var(--border);
  --drop-shadow-style: drop-shadow(.3rem .3rem 0 var(--border));
  --h1-letter-spacing: .5px;
}

:root[data-theme="dark"] {
  --text: #DADADB;
  --bg1: #444;
  --bg2: #333;
  --h1-bg: #272727;
  --h1-text: #DADADB;
  --border: #000;
  --link: #DADADB;
  --underline: #b0b0b0;
}
